:root {
    --branding-color: #9161eb;
    --accent-color: #9161eb0e;
    --main-font: Poppins, arial;
    --heading-font: Playfair Display;
    --top-margin: 100px;
}

body {
    font-family: var(--main-font);
}

h1 {
    font-size: 96px;
    font-family: var(--heading-font);
    font-weight: 900;
}

h2 {
    font-size: 64px;
    font-family: var(--heading-font);
    font-weight: 900;
}

h3 {
    font-size: 48px;
    font-family: var(--heading-font);
    font-weight: 900;
}

h4 {
    font-size: 36px;
    font-weight: 500;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 30px;
}

a {
    font-size: 16px;
}

@media (max-width: 1400px) {
    h2 {
        font-size: 48px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    .middle {
        margin: 20px 0;
    }
}

.navbar-color {
    background-color: var(--branding-color);
}

.top-page-margin {
    margin-top: var(--top-margin);
}

.img-background {
    background-color: var(--accent-color);
}

.link {
    background-color: var(--branding-color);
    border-color: var(--branding-color);
}

.link:hover {
    color: var(--branding-color);
    background-color: white;
    border-color: var(--branding-color);
    text-decoration: underline;
}

.link-outline {
    color: var(--branding-color);
    border-color: var(--branding-color);
}

.link-outline:hover {
    color: white;
    background-color: var(--branding-color);
    text-decoration: underline;
}

.email-link {
    color: #000;
    font-size: 24px;
}

.email-link:hover {
    color: var(--branding-color);
    text-decoration: underline;
    transition: all 200ms ease-in-out;
}

.built-with {
    font-size: 14px;
}

.social-circle {
    width: 60px;
    background-color: var(--accent-color);
    border-radius: 100%;
}

.social-icon {
    color: var(--branding-color);
    font-size: 24px;
}

.social-icon:hover {
    color: white;
    background-color: var(--branding-color);
    transition: all 200ms ease-in-out;
}